@media (min-width: 1444px) {

    body{
        max-width: 1444px;
        margin-right: auto;
        margin-left: auto;
    }


    .nav-link a:first-child{
        padding-left: 0px;
    }

    .nav-link a{
        padding-left: 40px;
    }

    .logo-container{
        justify-content: center;
    }

    .logo-city-name{
        padding-right:5px;
    }


    .wedding-container p{
        width: 980px;
    }

    .hotel-card{
        width: 1110px;
    }

    .restaurant-menu-container{
        width: 1110px;
        height: 350px;
    }


    .hotel-describe p{
        margin: 0;
        width: 500px;
        font-size: 18px;
    }
}