@media (min-width: 1024px) {

    .menu-hamburger {
        display: none;
    }

    .nav-link {
        display: initial;
    }


    p{
        font-size:18px;
    }

    .about-container{
        height: 850px;
    }
    .about-text-container{
        width: 540px;
    }

    .about-text-container p{
        font-size: 16px;
    }

    .about-photo-xl{
        width: 425px;
    }



    .about-image{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 475px;
        padding-top: 32px;
    }


    .wedding-container{
        height: 800px;
    }


    .wedding-card-container{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center ;
    }

    .card-photo {
        padding-left: 20px;
        width: 90%;
        height: auto;
    }


    .offer2-container{
        justify-content: flex-start;
        height: 900px;
    }

    .offer2-container p{
        padding-top:2px;
        padding-bottom:2px;
        font-size: 16px;
        text-align: left;

    }

    .offer-2-describe-text{
       max-width: 700px;

    }



    .restaurant-menu-container{
        width: 80%;
        height: 300px;
        margin-top:-150px;
        margin-bottom: -150px;
        z-index: 2;
    }

    .hotel-card{
        width: 98%;
        max-height: 330px;
        height: auto;

    }

    .hotel-card-image{
        max-width: 500px;
        height: 330px;
        padding-right: 25px;
    }

    .hotel-decribe{
        padding-left: 25px;

    }

    .hotel-describe p{
        text-align: left;
    }

    .reversed-card{
        flex-direction: row-reverse;
    }

    .hotel-container{
        height: 1300px;
    }
   .hotel-photo{
       width: 100%;
       max-width: 500px;
       height: auto;
   }

    .gallery-photo2{
        display: initial;
        width: 30%;
        height: auto;
    }

    .gallery-photo3{
        width: 30%;
        height: auto;
    }


    .gallery-card-container{
        flex-direction: row;
        justify-content: space-around;
    }

    .gallery-container{
        height: 600px;
    }

    .contact-container{
        height: 550px;
    }

    .contact-from-container{
        background-color: rgba(251, 250, 245,1);
        width: 600px;
        height: 100%;
        margin-left:150px;
    }

    .contact-form-header-container{
        width: 98%;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact-form{
        width: 70%;
        align-items: flex-start;
    }

    .contact-form-button-container p {
        font-size: 12px;
        text-decoration: underline;
    }

    .contact-form input{
        width: 100%;
    }

    .footer-logo-adres{
        flex-direction: row;
    }

    .adress{
        padding-left: 135px;
    }


    .offer2-describe-list-container{
        width: 80%;
        max-width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .offer2-list-container{
        width: 30%;
    }

    .offer2-list li{
        width: 200px;
    }

    .offer2-describe-container{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .offer2-list{
        flex-direction: column;
    }

    .offer2-image-container{
        margin-top:16px;
    }


    .wedding-container{
        background-position: top;
    }


    .footer p{
        font-size: 16px;
    }

    .oferta-container{
        width:740px;
    }



}